*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #363849; */
}

    header{
        width: 100%;
        height: 5em;
        display: inline-block;
        background-color: rgb(223, 221, 219);
    }
    header:hover{
        /* background-color: #363849; */
        color: aliceblue;
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    }
    nav{
        margin-top: 25px;
    }

        h1{
            margin-left: 5em;
            display: inline;
            position: absolute;
        } 
        ul{
            margin-left: 60%;
            display: inline;
            
        }
        li{
            padding-left: 5em;
            display: inline-block;
        }   
            li > a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                padding: 10px;
                border-bottom: 3px solid rgb(248, 217, 159);
                text-decoration: none;
                color: aliceblue;
            }
    
.about{
    height: 50%;
    background-color: #888888;
    border-bottom: 50px solid #888888;
}
.about:hover{
    /* background-color: #363849; */
    color: aliceblue;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
    .about h1{
        margin-top: 20px;
        margin-left: 45%;
        font-size: 30px;
    }
    img{
        margin-top: 60px;
        margin-left: 100px;
        width: 20%;
        box-shadow: 0px 0px 18px #888888;
    }
    .content{
        margin-top: 60px;
        margin-right: 0;
        font-size: larger;
        vertical-align: top;
        display: inline-block;
        position: absolute;
    }
        .content h2{
            margin-left: 7em;
            color: whitesmoke;
        }
        .content p{
            margin: 50px;
            padding: 50px;
            text-align: justify;
            background-color: rgb(143, 142, 142);
        }
#projects{
    height: 60vh;
    background-color: rgb(223, 221, 219);
}
#projects:hover{
    /* background-color: #363849; */
    color: aliceblue;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
    #projects h1{
        margin-top: 20px;
        margin-left: 45%;
        font-size: 30px;
    }
    .main-card{
        margin-left: 11em;
    }
    #projects .cards{
        margin-top: 6em;
        margin-left: 5em;
        width: 25em;
        height: 20em;
        background-color: rgb(154, 158, 161);
        float: left;
    }
        #projects .cards img{
            height: 200px;
            width: 200px;
        }
        .cards h3{
            padding: 5px;
            color: white;
            background-color: rgb(143, 142, 142);
        }
#contact{
    height: 50vh;
    background-color: #888888;
}
#contact:hover{
    color: aliceblue;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
#contact h1{
    margin-top: 20px;
    margin-left: 45%;
    font-size: 30px;
}

